<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Internationalization Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>819992FB1DD9DFB100534925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>819993141DD9DFB100534925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8199931F1DD9DFB100534925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
